@import '../node_modules/bootstrap/scss/bootstrap.scss';

.nav-link{
color: purple;

}

.nav-tabs{
    border-color: white;
    .nav-link:active {
        background-color: red;
    }
    .nav-link:hover{
        color: white;
        background-color: red;
        border-color: greenyellow;
    }
}

    